<div class="main_menu">
    <h2>Основное меню</h2>
    <ul>
        <li><a href="/">Список курсов</a></li>
        <li><a href="/category-list/">Список категорий</a></li>
        <li><a href="/student-list/">Список студентов</a></li>
    </ul>
</div>

<div class="create_menu">
    <h2>Дополнительное меню</h2>
    <ul>
        <li><a href="/create-course/">Создать курс</a></li>
        <li><a href="/create-category/">Создать категорию</a></li>
        <li><a href="/create-student/">Создать студента</a></li>
        <li><a href="/add-student/">Добавить студента на курс</a></li>
    </ul>
</div>